/* ----------Google fonts---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* ----------Variables---------- */
:root{
    --dark_theme_background:#222222;
    --dark_theme_text:#d5d5d5;
    --white_theme_text:#222;
    --white_theme_background:#fff;
    --heading_font_size:2rem;
    --normal_text_font_sixe: 0.90rem
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html{
    scroll-behavior: smooth;
}
img{
    width: 200px;
}
.container{
    background-color: var(--dark_theme_background);
    color: var(--dark_theme_text);
    height: 100vh;
}
.section_header{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
}
#hidden_content{
    display: none;
}

/* -----------header section---------- */
.sticky{
    /* border: 1px solid green; */
    position: fixed;
    width: 100%;
    background: var(--dark_theme_background);
    box-shadow: 1px 0 5px 2px rgba(81, 81, 83, 0.933);  
    
}

.navbar{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    
}
/* -----------inside header logo---------- */
.logo{
}
.logo span{
    font-size: 1.5rem;
    letter-spacing: 0.15rem;

}
.logo span:nth-child(2){
    font-weight: 600;
    
    
    
}

.logo span:nth-child(1){
    font-weight: 600;
    font-size: 2rem;
    background-color: #007CED;
    padding: 5px 15px;
    margin: 10px 5px;
    
    
    /* left: 0; */
    color: #fff;
    border-radius: 50%;
}

/* -----------inside header menu---------- */
.navMenu ul{
    display: flex;
    
}
.navMenu ul li{
    padding: 15px;
    transition: 0.5s;
    list-style-type: none;
    
}
.navMenu ul li a{
    text-decoration: none;
    transition: 0.5s;
    color: var(--dark_theme_text);
}

.navMenu ul li a:hover{
    /* transform: translateY(-4px); */
    color: #c23616;
    
    
}
/* -----------header section end---------- */

/* ----------- home page---------- */
#section_02{
    display:grid;
    grid-template-columns: 5fr 6fr;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
}
.photo{
    text-align: right;
    padding-right: 50px;
    /* border: 1px solid red; */
    /* box-shadow: 4px 4px 5px #000; */
}

#proPhoto img{
    width: 375px;
    border-radius: 50%;
    border: 20px solid rgba(81, 81, 83, 0.933);
    box-shadow: 1px 1px 30px #000;

}

.intro{
    /* border: 1px solid red; */
    width: calc(90% - 10px);
}
.intro span:nth-child(1){
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    
}
.intro span:nth-child(3){
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    
    color: #fff;
    
}
.intro p{
    line-height: 1.5rem;
    margin: 20px 0 30px 0;
    font-weight: 300;
}
/*------------------------ button ----------------- */
.btn{
    text-decoration: none;
    box-sizing: border-box;
    
    padding: 10px 30px;
    color: #fff;
    margin: 0 20px 0 0;
    border-radius: 45px;
    box-shadow: 0 4px 5px #000;
    background-color: #474545;
    transition: 0.5s;
}
.primaryBtn{
    border: 3px solid #007CED;
}
.primaryBtn:hover{
    background-color: #007CED;
}
.secondaryBtn{
    border: 3px solid #fff;
}
.secondaryBtn:hover{
    background-color: #fff;
    color: var(--white_theme_text);
}

/* ----------- home page end---------- */
/* ----------- contact section 05 start---------- */
#section_05{
    box-sizing: border-box;
    height: 100vh;
    /* width: 100vw; */
    /* border-top: 1px solid red; */
    padding-top: 70px;
    background-color: var(--dark_theme_background);
}
.section_header{
    margin: 30px auto;
}
.inner_section_05{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;

}
.message, .address{
    /* margin: auto 80px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* border: 1px solid red; */
    
}
.message{
    margin-left: 150px;
}
.address{
    margin-right: 150px;
}
.message input, .message textarea{
    display: block;
    width: 100%;
    margin-bottom: 20px;

    background: transparent;
    border: 2px solid #d5d5d5;
    border-radius: 8px;
    padding: 7px 10px;
    color: var(--dark_theme_text);
    outline: none;
    font-size: 1rem;

    border: 2px solid #007CED;
    /* background-color: #474545; */
    box-shadow: 0 4px 5px #000;
    
}
.message input[type="submit"]{
    display: block;
    width: 30%;
    border: 2px solid #007CED;
    background-color: #474545;
    box-shadow: 0 4px 5px #000;


    
    
    text-transform: capitalize;
    border-radius: 40px;
}

/* -------------------map and address ----------------- */
.map{
    filter: invert(90%);
    margin-bottom: 30px;
}
.address_item{
   display: grid;
   grid-template-columns: 1fr 11fr; 
   margin-bottom: 15px;
   grid-gap: 20px;
   overflow: hidden;
    
}

.address_item img{
    width: 120%;
    margin-top: 10px;
}
.text span{
    display: block;
    line-height: 1.1rem;
    font-size: 1rem;
    font-weight: 300;
}
.text span:first-child{
    font-size: 1.2rem;
    font-weight: 500;
    /* margin-bottom: -10px; */
}

/* ----------- contact section 05 end---------- */

/* -----------copyright Section---------- */





